{% if isWhite %}
    <section class="testimonial-section rtl bg-white">
    {% else %}
        <section class="testimonial-section rtl">
        {% endif %}
        <div class="container">
            <h4 class="text-center title">از زبان مشتریان</h4>
            <h5 class="text-center subtitle">
                مفتخریم که توانسته ایم رضایت مشتریان خود را جلب کنیم
            </h5>
            <div class="carousel slide testimonial-carousel" data-ride="carousel" id="testimonial-carousel">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="carousel-item active">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/img-5.jpg" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">مهدی گندمی</h3>
                                <h4 class="testimonial__subtitle">دانشجو</h4>
                                <blockquote>

                                    <p>
                                        مقالاتی که در این سایت ترجمه شده از کیفیت بالایی برخوردار بوده و به شخصه از این نحوه ترجمه راضی هستم به امید پیشرفت و موفقیت
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- Quote 2 -->
                    <div class="carousel-item">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/quote-1.png" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">ابوبکر احمدی</h3>
                                <h4 class="testimonial__subtitle">بازاریاب</h4>
                                <blockquote>
                                    <p>
                                        تنوع لیست قیمتها بسیار خوب است. زمانبندی پیشنهادی متناسب با قیمتها نیز بسیار خوب است. امیدوارم ارتقا کیفیت سایت که تاکنون انجام شده است باقی بماند. باتشکر
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- Quote 3 -->
                    <div class="carousel-item">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/img-1.jpg" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">پیمان بخشی</h3>
                                <h4 class="testimonial__subtitle">خبرنگار</h4>
                                <blockquote>
                                    <p>
                                        به شخصه از چندین سایت ترجمه بنا به دلایل کاری استفاده کردم ، واقعا از خدمات ترجمه این سایت راضی ام.
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- Quote 4 -->
                    <div class="carousel-item">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/quote-5.jpg" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">مسعود مغربی</h3>
                                <h4 class="testimonial__subtitle">برنامه نویس</h4>
                                <blockquote>
                                    <p>
                                        مقالاتی که در این سایت ترجمه شده از کیفیت بالایی برخوردار بوده و به شخصه از این نحوه ترجمه راضی هستم به امید پیشرفت و موفقیت
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>

                    <!-- Quote 5 -->
                    <div class="carousel-item">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/quote-6.jpg" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">علی رحمانی</h3>
                                <h4 class="testimonial__subtitle">استاد دانشگاه</h4>
                                <blockquote>
                                    <p>
                                        یک سیستم کارآمد، با قابلیت کاربری ساده و کاملا متمایز در میان رقبا و مجموعه ای خلاق با گوش شنوا و پرانگیزه که کار کردن با آنها لذت بخش است
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>
                           <!-- Quote 5 -->
                    <div class="carousel-item">
                        <figure class="testimonial">
                            <div class="testimonial__thumbnail">
                                <img src="public/images/quote-7.jpg" alt=""/>
                            </div>
                            <figcaption>
                                <h3 class="testimonial__title">حسین قانعی</h3>
                                <h4 class="testimonial__subtitle">فعال حوزه کسب و کار آنلاین</h4>
                                <blockquote>
                                    <p>
                                        حضور مترجمان حرفه ای در یک پلتفرم کاربر پسند، واقعا وجود چنین سیستمی در فضای آنلاین کم بود، از کار با ترنسیس خوشحالم :) 
                                    </p>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Bottom Carousel Indicators -->
                <!-- <ol class="carousel-indicators"> <li class="active" data-target="#main-slider" data-slide-to="0" ></li> <li data-target="#main-slider" data-slide-to="1"></li> <li data-target="#main-slider" data-slide-to="2"></li> </ol> -->
                <!-- Carousel Buttons Next/Prev -->
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>