<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/translator">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            مترجم ها</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/translator/new-orders">
                    مترجم های درحال استخدام</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/orders">
                    لیست مترجمان استخدام شده</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            سفارشات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/translator/new-orders">
                    درخواست های انجام سفارش</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/orders">
                    سفارشات تایید شده</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            کدهای تخفیف</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/translator/new-orders">
                    لیست کدهای تخفیف</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/orders">
                    اضافه کردن کد تخفیف</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-credit-card"></i>
            مالی</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/translator/bank-info">
                    اطلاعات درآمد سایت</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/account-report">
                    درخواست های پرداخت مترجمان</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/account-report">
                    اطلاعات حساب های بانکی مترجمان</a>
            </li>
        </ul>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-credit-card"></i>
               اطلاعیه ها</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/translator/bank-info">
                    لیست اطلاعیه ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/translator/account-report">
                    اطلاعیه جدید</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/translator/tickets">
            <i class="nav-icon icon-envelope"></i>
            مرکز پیام
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/translator/tickets">
            <i class="nav-icon icon-envelope"></i>
            مدیریت کاربران
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/translator/edit-profile">
            <i class="nav-icon icon-pencil"></i>
            ویرایش پروفایل
        </a>
    </li>
</ul>