<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" href="/translator">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>

{% if is_employed %}
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-credit-card"></i>
            مالی</a>
        <ul class="nav-dropdown-items">

            <li class="nav-item">
                <a class="nav-link" href="/user/orders">
                    گزارش حساب شما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/order/new">
                    اطلاعات حساب بانکی</a>
            </li>
        </ul>
    </li>
{% else %}
   <li class="nav-item disabled">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-lock"></i>
                <span class="text-placeholder"></span>            
            </a>
        </li> 
{% endif %}

    {% if is_employed %}
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            سفارشات</a>
        <ul class="nav-dropdown-items">

            <li class="nav-item">
                <a class="nav-link" href="/user/orders">
                    سفارشات جاری</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/order/new">
                    سفارشات تکمیل شده</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/order/new">
                    تمام سفارشات</a>
            </li>
        </ul>
    </li>
    {% else %}
        <li class="nav-item disabled">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-lock"></i>
                <span class="text-placeholder"></span>            
            </a>
        </li> 
    {% endif %}
    

    {% if is_employed %}
    
    <li class="nav-item">
        <a class="nav-link" href="/user/messages">
            <i class="nav-icon icon-envelope"></i>
            مرکز پیام
        </a>
    </li>
    {% else %}
        <li class="nav-item disabled">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-lock"></i>
                <span class="text-placeholder"></span>            
            </a>
        </li> 
    {% endif %}
        

    {% if is_employed %}
    
    <li class="nav-item">
        <a class="nav-link" href="/user/messages">
            <i class="nav-icon icon-bell"></i>
            اطلاعیه ها
        </a>
    </li>

{% else %}
        <li class="nav-item disabled">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-lock"></i>
                <span class="text-placeholder"></span>            
            </a>
        </li> 
    {% endif %}
    
    <li class="nav-item">
        <a class="nav-link" href="/user/edit-profile">
            <i class="nav-icon icon-pencil"></i>
            ویرایش پروفایل
        </a>
    </li>

</ul>