<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" href="/user">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            سفارشات</a>
        <ul class="nav-dropdown-items">

            <li class="nav-item">
                <a class="nav-link" href="/user/orders">
                    مشاهده سفارشات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/order/new">
                    سفارش جدید</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/tickets">
            <i class="nav-icon icon-envelope"></i>
            مرکز پیام
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/edit-profile">
            <i class="nav-icon icon-pencil"></i>
            ویرایش پروفایل
        </a>
    </li>

</ul>