{% extends 'admin/layout/translator.twig' %}
{% block content %}
    <main class="main" style="min-height:550px">
        <div class="card">
            <div class="card-body">
                <h4>گزارش حساب شما</h4>
                
            </div>
        </div>
    </main>
{% endblock %}