{% extends "website/layout/base.twig" %}

{% block content %}

<div class="banner has--overlay about-us">
    {# <div class="inner">
        <h3 class="text-center">مطمئن ترین بستر برای انجام ترجمه را ایجاد می کنیم
        </h3>
    </div> #}
</div>

<div class="container about-us">
    <div class="about-us__title">
        <h4 class="text-center">ما چه کاری می کنیم ؟</h4>
    </div>

    <p class="about-us__subtitle">
        سایت ترجمه تخصصی مترجم وان با هدف ایجاد بستری مناسب برای ارائه خدمات ترجمه ایجاد شده و در این سایت می توانید به
        گروه بزرگی از مترجمان در زمینه های مختلف دسترسی داشته باشید و با صرف کمترین هزینه و زمان ، بهترین خدمات را
        تجربه کنید.
    </p>

    <div class="about-us__services row">
        <h4 class="text-center col-12 section-title">خدمات ما</h4>
        <div class="col-lg-4">
            <div class="about-us__service">
                <div class="about-us__service__icon">
                    <img src="public/images/icon/tranlating.svg" alt="">
                </div>
                <div class="about-us__service__title">
                    <h4>ترجمه</h4>
                </div>
                <div class="about-us__service__content">
                    <p>
                        ترجمه کتاب ، مقاله ، پایان نامه و پروژه دانشجویی در زمینه های
                        مختلف
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="about-us__service">
                <div class="about-us__service__icon">
                    <img src="public/images/icon/typewriter.svg" alt="">
                </div>
                <div class="about-us__service__title">
                    <h4>تایپ</h4>
                </div>
                <div class="about-us__service__content">
                    <p>
                        ترجمه کتاب ، مقاله ، پایان نامه و پروژه دانشجویی در زمینه های
                        مختلف
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="about-us__service">
                <div class="about-us__service__icon">
                    <img src="../../public/images/icon/research.svg" alt="">
                </div>
                <div class="about-us__service__title">
                    <h4>تحقیق</h4>
                </div>
                <div class="about-us__service__content">
                    <p>
                        ترجمه کتاب ، مقاله ، پایان نامه و پروژه دانشجویی در زمینه های
                        مختلف
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="about-us__rules">

        <h3 class="text-center section-title">قوانین و مقررات سایت مترجم وان</h3>
        <ol class="rules">
            <li>
                یک قرارداد زمانی میان کاربر و مرکز ترجمه مترجم وان منعقد میشود که کاربر سفارش خود را در وب
                سایت ثبت و مبلغ سفارش را به یکی از دو شکل زیر پرداخت نماید.
                - پرداخت آنلاین از طریق درگاه اینترنتی
                - پرداخت از طریق واریز بانکی یا خودپرداز، در صورت استفاده از این روش پرداخت، کاربر موظف به
                ثبت فیش پرداختی در وب سایت است.
            </li>
            <li>
                مترجم وان هزینه، کیفیت و زمان تحویل سفارش را به کاربر اطلاع می دهد.
            </li>
            <li>
                زمان نهایی انجام سفارش در زمان پرداخت به کاربر اعلام خواهد گردید.
            </li>
            <li>
                مترجم وان در قبال عدم دسترسی منظم کاربر به وب سایت و عدم بررسی اعلان ها از سوی کاربر
                مسئولیتی نخواهد داشت.
            </li>
            <li>
                کاربر می تواند طبق صلاحدید خود هر گونه قرارداد را با یک اعلان لغو نماید. روش های اعلان در روزهای
                کاری و ساعات اداری است. در صورتی که یک قرارداد از سوی کاربر لغو گردد مترجم وان ، ترجمه های انجام
                شده را در قبال دریافت هزینه آن به علاوه 10 درصد از هزینه کل سفارش، به عنوان جریمه ناشی از لغو، به
                کاربر تحویل می دهد و این مبالغ از کل هزینه دریافتی کسر و مابقی مبلغ به کاربر بازگردانده خواهد شد.
            </li>
            <li>
                در صورتی که تحویل سفارش بیش از 24 ساعت به تاخیر بیافتد، مرکز ترجمه موظف به پرداخت خسارت
                می باشد.
            </li>
            <li>
                مترجم وان مسئولیتی در قبال عدم انجام تعهدات خود که در نتیجه مواردی خارج از اختیار دارالترجمه
                نظیر وقوع بلایای طبیعی، شرایط غیرعادی، قطعی کلی شبکه اینترنت و دیتا، خرابی در هاستینگ و ... باشد،
                نخواهد داشت.
            </li>
            <li>
                در صورتی که کاربر نسبت به کیفیت سفارش تحویلی اعتراض داشته باشد، این اعتراض توسط تیم
                سردبیری مرکز ترجمه مورد بررسی قرار می گیرد و در صورتی تایید تیم سردبیری نسبت به ویرایش سفارش
                و یا بازپرداخت بخشی از هزینه سفارش به کاربر، طبق قوانین سایت توافق می گردد. انجام هر گونه ویرایش
                پس از مدت زمان گارانتی، مستلزم پرداخت هزینه مربوطه خواهد بود که از طرف مترجم وان اعلام می
                گردد.
            </li>
            <li>
                کلیه مترجمان، کارمندان و مدیران مرکز ترجمه ملزم به حفظ اطلاعات موجود در سفارش کاربر هستند.
                بدیهی است که مراجع قانونی با ارائه حکم دادگاه قادرند به این اطلاعات دسترسی داشته باشند.
            </li>
            <li>
                تمام حقوق مادی و معنوی سفارش ترجمه شده متعلق به کاربر خواهد بود.
            </li>
            <li>
                مترجم وان در ارتباط با محتوای سفارش هیچ گونه بررسی انجام نمی دهد و کلیه مسئولیت های
                مرتبط با محتوای سفارش و ترجمه آن ها نظیر مغایرت با شعائر دینی، اخلاقی و عرفی جامعه، افشای اطلاعات
                محرمانه اشخاص حقیقی یا حقوقی و هرگونه مطلبی که ترجمه و نشر آن برخلاف قوانین نظام جمهوری
                اسلامی ایران باشد، به عهده کاربر است.
            </li>
            <li>
                تمامی ارتباطات بین مشتری و مترجم از طریق سایت انجام می شود. مشتری حق ندارد هیچ گونه
                اطلاعات تماس )تلفن، ایمیل، سایت، ...( را در اختیار مترجم قرار دهد. در صورت مشاهده حساب کاربری
                بدون اطلاع قبلی مسدود خواهد شد.
            </li>
        </ol>
    </div>

    {{ include('website/includes/testimonials.twig',{"isWhite":true}) }}

</div>


{% endblock %}