{% extends "website/layout/auth.twig" %}

{% block content %}
<main class="rtl login-wrap">
    <section class="auth center success">

        <h2 >ثبت نام با موفقیت انجام شد !</h2>
        <p>نام کاربری و گذرواژه به ایمیل {{email}} ارسال شد</p>
    </section>

</main>
{% endblock %}