<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" href="/user">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            سفارشات</a>
        <ul class="nav-dropdown-items">

            <li class="nav-item">
                <a class="nav-link" href="/user/orders/show">
                    مشاهده سفارشات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/orders/new">
                    سفارش جدید</a>
            </li>
        </ul>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-envelope"></i>
            مرکز پیام</a>
        <ul class="nav-dropdown-items">

            <li class="nav-item">
                <a class="nav-link" href="/user/messages/show">
                    مشاهده پیام ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/messages/new">
                    ارسال پیام جدید</a>
            </li>
        </ul>
    </li>

</ul>